.v-list {
  table-layout: fixed;
}

.v-list .v-card.tf-noborder {
  margin: var(--tv-default-margin) !important;
  margin-bottom: 0px !important;
  height: calc(100% - var(--tv-default-full-margin)) !important;
}
.v-list .v-card.tf-noborder > header {
  background-color: #f7f7f7;
  border: 1px solid #e1e5e9;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.v-list .v-card.tf-noborder > section {
  border: 1px solid #e1e5e9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

html[data-bs-theme=dark] .v-list .v-card.tf-noborder > header {
  background-color: unset;
  border-color: var(--t-border-color);
}

html[data-bs-theme=dark] .v-list .v-card.tf-noborder > section {
  border: 1px solid var(--t-border-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.te-search:not(:placeholder-shown) {
  -webkit-appearance: none;
  border-color: var(--bs-danger) !important;
  box-shadow: none !important;
}

.v-card::after {
  display: none;
}

.v-timeline-diference {
  height: 100svh !important;
}

.t-documentation .tl-split {
  height: 100%;
}

.t-documentation {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: nowrap;
}

.t-documentation > div {
  overflow: hidden;
}

.t-documentation > div:has(> .tl-split) {
  flex: 1 1 auto;
}

.t-documentation iframe {
  max-height: 100%;
  padding: 0 var(--tv-default-margin);
  padding-bottom: 0;
}

.t-documentation .tl-split-panel:has(iframe) div {
  height: 100%;
  overflow: hidden;
}

section:has(> .v-conversation) {
  padding: 0px;
  overflow: hidden;
}
section:has(> .v-conversation) > .v-conversation {
  padding: 0;
  max-height: 100%;
}

.tl:has(.v-task-timeline) {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.row:has(.v-task-timeline) {
  height: 100%;
}

.v-task-timeline {
  padding: 0;
}

section section:has(.v-task-timeline) {
  padding: 0;
}

section div:has(.v-aichat) {
  height: 95%;
}

iframe.v-article-80vh {
  height: 80vh !important;
}

.v-mail-client__list tbody:hover tr,
.v-mail-list tbody:hover tr {
  background-color: #ebf1fa !important;
  transition: 0.1s;
}

.tl-stack:has(> * > .v-mail-view) {
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100%;
}

div:has(> .v-mail-view) {
  flex: 1;
}

.v-mail-view {
  min-height: 300px;
}

.v-mail-editor {
  min-height: 500px;
}

html[data-bs-theme=dark] .v-mail-client__list tbody:hover tr {
  background-color: var(--content-background-hover-color) !important;
}
html[data-bs-theme=dark] .v-mail-client__list a i {
  color: #7be995 !important;
}

section:has(> .v-mail-client) {
  height: 100%;
  overflow: hidden;
}

.v-mail-client {
  height: 100%;
}
.v-mail-client *:not(input, header, table, colgroup, section) {
  height: inherit;
}
.v-mail-client .v-mail-client__structure {
  height: calc(100% - 8px);
  overflow: auto;
}
.v-mail-client .v-mail-client__preview {
  height: calc(100% - 8px);
  overflow: auto;
}
.v-mail-client .v-mail-client__list {
  height: calc(100% - 8px);
  overflow: auto;
}

.v-mail-client__list tbody *, .v-mail-list tbody * {
  border: none;
}
.v-mail-client__list tbody.td-datagrid-rs, .v-mail-list tbody.td-datagrid-rs {
  height: 1px !important;
}
.v-mail-client__list tbody.td-datagrid-rs tr td, .v-mail-list tbody.td-datagrid-rs tr td {
  background-color: var(--t-border-color) !important;
  padding: 0px !important;
}
.v-mail-client__list tbody.td-datagrid-rs td, .v-mail-list tbody.td-datagrid-rs td {
  height: 1px;
}

.v-catalog-filter {
  --v-catalog-filter: 400px;
  min-height: auto !important;
}
.v-catalog-filter .td-datagrid {
  max-height: var(--v-catalog-filter);
}

.-v-company-edit {
  height: 70vh;
}
.-v-company-edit > .page {
  height: 70vh !important;
  overflow: hidden;
}

@media (max-width: 991.98px) {
  .-v-company-edit {
    max-width: 95% !important;
    min-width: 95% !important;
    height: 90vh;
  }
  .-v-company-edit > .page {
    height: 90vh !important;
    overflow: hidden;
  }
}
button[class*=btn-] {
  background-color: transparent;
  color: var(--t-font-color);
}
button[class*=btn-]:hover {
  background-color: var(--bs-btn-hover-bg);
  color: #ffffff;
  border-color: var(--bs-btn-hover-border-color);
}
button[class*=btn-]:hover i {
  color: #ffffff !important;
}

.v-filepreview {
  height: calc((100vh - 250px) * 0.8) !important;
  min-height: 550px !important;
}

.v-gpsHistory > .page > section {
  height: 100vh;
}

.v-gpsHistory > .page > section iframe {
  max-height: 99%;
}

.v-map {
  height: 100vh !important;
}

.v-scheduler-container {
  height: 100%;
  overflow: hidden;
}
.v-scheduler-container .tf-h-100 {
  height: 100%;
}
.v-scheduler-container *:has(.td-webview) {
  height: 100%;
}
.v-scheduler-container .td-webview,
.v-scheduler-container .tl-split-panel {
  overflow-y: auto;
}
.v-scheduler-container .td-webview {
  height: 100%;
}
.v-scheduler-container .tbs-scheduler {
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  section:has(> .v-scheduler-container) {
    padding: 0;
  }
}
.v-scheduler-datails ul {
  padding-left: 0rem;
}
.v-scheduler-datails ul li {
  display: flex;
  justify-content: space-between;
  padding: 1px 0;
}
.v-scheduler-datails ul li > span {
  white-space: nowrap;
  margin-left: 6px;
}