.v-list .v-card.tf-noborder {
  margin: var(--tv-default-margin) !important;
}
.v-list .v-card.tf-noborder > header {
  background-color: #f7f7f7;
  border: 1px solid #e1e5e9;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.v-list .v-card.tf-noborder > section {
  border: 1px solid #e1e5e9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.v-card::after {
  display: none;
}

.v-timeline-diference {
  height: 100svh !important;
}

.t-documentation {
  height: 100%;
}
.t-documentation .tl-split {
  height: 100%;
}

.t-documentation {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: nowrap;
}

.t-documentation > div {
  overflow: hidden;
}

.t-documentation > div:has(> .tl-split) {
  flex: 1 1 auto;
}

.t-documentation iframe {
  max-height: 100%;
  padding: 0 var(--tv-default-margin);
  padding-bottom: 0;
}

.t-documentation .tl-split-panel:has(iframe) div {
  height: 100%;
  overflow: hidden;
}

section:has(> .v-conversation) {
  padding: 0px;
  overflow: hidden;
}
section:has(> .v-conversation) > .v-conversation {
  padding: 0;
  max-height: 100%;
}