.v-list .v-card.tf-noborder {
  margin: var(--tv-default-margin) !important;
}
.v-list .v-card.tf-noborder > header {
  background-color: #f7f7f7;
  border: 1px solid #e1e5e9;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.v-list .v-card.tf-noborder > section {
  border: 1px solid #e1e5e9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.v-card::after {
  display: none;
}

.v-timeline-diference {
  height: 100svh !important;
}

.t-documentation {
  height: 100%;
}
.t-documentation .tl-split {
  height: 100%;
}

.t-documentation {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: nowrap;
}

.t-documentation > div {
  overflow: hidden;
}

.t-documentation > div:has(> .tl-split) {
  flex: 1 1 auto;
}

.t-documentation iframe {
  max-height: 100%;
  padding: 0 var(--tv-default-margin);
  padding-bottom: 0;
}

.t-documentation .tl-split-panel:has(iframe) div {
  height: 100%;
  overflow: hidden;
}

section:has(> .v-conversation) {
  padding: 0px;
  overflow: hidden;
}
section:has(> .v-conversation) > .v-conversation {
  padding: 0;
  max-height: 100%;
}

.tl:has(.v-task-timeline) {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.row:has(.v-task-timeline) {
  height: 100%;
}

.v-task-timeline {
  padding: 0;
}

section section:has(.v-task-timeline) {
  padding: 0;
}

.v-mail-list * {
  border-color: var(--t-table-accent-background-color) !important;
}

.v-mail-list .td-datagrid-rs {
  height: 1px !important;
}

.v-mail-list .td-datagrid-rs td {
  padding: 0 !important;
  background-color: #dee2e6 !important;
}

.v-mail-list tbody:hover tr {
  background-color: #ebf1fa !important;
  /*background-color: 
  color-mix(in srgb, #3b71ca, #ffffff 90%) !important;*/
  transition: 0.1s;
}

.tl-stack:has(> * > .v-mail-view) {
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100%;
}

div:has(> .v-mail-view) {
  flex: 1;
}

.v-mail-view {
  min-height: 300px;
}

.v-mail-editor {
  min-height: 500px;
}

html[data-bs-theme=dark] .v-mail-list * {
  border-color: var(--t-border-color) !important;
}
html[data-bs-theme=dark] .v-mail-list .td-datagrid-rs td {
  background-color: var(--content-background-hover-color) !important;
}
html[data-bs-theme=dark] .v-mail-list tbody:hover tr {
  background-color: var(--content-background-hover-color) !important;
}
html[data-bs-theme=dark] .v-mail-list a i {
  color: #7be995 !important;
}