// Pieczatka firmy
.-v-company-edit {
    height: 70vh;
    > .page {
        height: 70vh !important;
        overflow: hidden;
    }
}
@media (max-width: 991.98px) {
    .-v-company-edit {
        max-width: 95% !important;
        min-width: 95% !important;
        height: 90vh;
        > .page {
            height: 90vh !important;
            overflow: hidden;
        }
    }
}
