.v-timeline-diference{
    height: 100svh!important;
}

.t-documentation{
    height: 100%;
    .tl-split{
        height: 100%;
    }
}
.t-documentation {
    display: flex;
    flex-direction: column;
    width:100%;
    flex-wrap: nowrap;
}
.t-documentation > div{
    overflow:hidden;
}
.t-documentation > div:has(> .tl-split) {
    flex: 1 1 auto;
}
.t-documentation iframe{
    max-height: 100%;
    padding: 0 var(--tv-default-margin);
    padding-bottom: 0;
}
.t-documentation .tl-split-panel:has(iframe) div{
    height:100%;
    overflow:hidden;
    
}