.v-mail-list tbody:hover tr{
    background-color: #ebf1fa !important;
    transition: 0.1s;
}

.tl-stack:has(>*>.v-mail-view){
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100%;
}
div:has(>.v-mail-view){
    flex:1;
}
.v-mail-view{
    min-height:300px;
}
.v-mail-editor{
    min-height: 500px;
}
html[data-bs-theme=dark]{

    .v-mail-list tbody:hover tr{
        background-color: var(--content-background-hover-color) !important;
    }
    .v-mail-list a i{
        color: #7be995!important 
    }
}